html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    margin: 0px;
}
#page {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template:  [header-left] 'head head' 50px [header-right] 
                    [main-left] 'nav  main' 1fr [main-right] 
                    [footer-left] 'foot  foot' 30px [footer-right] / 120px 1fr;
}

header {
    background-color: #032746;
    grid-area: head;
}
/*Верхние кнопки*/
.button {
    background-color: #032645;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
    .button:hover,
    .button:focus {
        background: #214463;
        color: #ffffff;
        text-decoration: none;
    }

    .button:active {
        background: #021729;
    }
/*Верхние кнопки*/
/*====================================================*/

/*Навигация*/
nav {
    background-color: #ffffff;
    grid-area: nav;
}
/*Кнопки навигации*/
.buttonnav {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

    .buttonnav:hover,
    .buttonnav:focus {
        background: #cddae6;
        text-decoration: none;
    }

    .buttonnav:active {
        background: white;
    }
/*Кнопки навигации*/
/*====================================================*/

main {
    background-color: #ffffff;
    grid-area: main;
}
/*Всплывающее окно*/
.popup-call {
    position: fixed;
    text-align: center;
    font-size: 300%;
    z-index: 9999;
    margin: auto;
    clear: both;
    height: 250px;
    width: 600px;
    padding: 15px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    background: #fff;
    opacity: 0;
    transform: scale(0);
    transition: 0.5s ease all;
}

.popup-call-show {
    opacity: 1;
    transform: scale(1);
    transition: 0.5s ease all;
}
.popup-form, .popup-text {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
}

.popup-form {
    width: 45%;
    padding-right: 5%;
}

    .popup-form input[type="text"], .popup-form input[type="email"] {
        font-size: 16px;
        margin-bottom: 10px;
        padding: 8px;
        width: 95%;
    }

    .popup-form textarea {
        border: 1px solid;
        width: 95%;
        padding: 8px;
        font-size: 16px;
        height: 80px;
        margin-bottom: 10px;
    }

    .popup-form input[type="submit"] {
        background-color: #032645;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }

        .popup-form input[type="submit"]:hover,
        .popup-form input[type="submit"]:focus {
            background: #214463;
            color: #ffffff;
            text-decoration: none;
        }

        .popup-form input[type="submit"]:active {
            background: #021729;
        }
    .popup-form input[type="button"] {
        background-color: #032645;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }

        .popup-form input[type="button"]:hover,
        .popup-form input[type="button"]:focus {
            background: #214463;
            color: #ffffff;
            text-decoration: none;
        }

        .popup-form input[type="button"]:active {
            background: #021729;
        }
/*Всплывающее окно*/
/*====================================================*/
footer {
    background-color: #032746;
    grid-column: foot;
}